<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.sp.mapper.CrUiMapMapper">
	<select id="selectCrUiMapList">
		select UI.UI_NAME, CU.*
		from USER_INFO UI 
		inner join CR_UI_MAP CU
		on CU.UI_NUM = UI.UI_NUM 
		where ROOM_ID = #{roomId}
	</select>
	<insert id="insertCrUiMap">
		INSERT INTO CR_UI_MAP(ROOM_ID, UI_NUM)
		VALUES(#{roomId},#{uiNum})
	</insert>
	<delete id="deleteCrUiMap">
		DELETE FROM CR_UI_MAP
		WHERE ROOM_ID = #{roomId}
		AND UI_NUM = #{uiNum}
	</delete>
	
</mapper>