<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.sp.mapper.UserMapper">
	<select id="selectUsers" resultType="com.dev.sp.vo.UserVO">
        SELECT * FROM USER_INFO
    </select>
    
    <select id="selectUser" resultType="com.dev.sp.vo.UserVO">
        SELECT * FROM USER_INFO WHERE UI_NUM=#{uiNum}
    </select>
    
    <select id="selectUserById" resultType="com.dev.sp.vo.UserVO">
        SELECT * FROM USER_INFO WHERE UI_ID=#{uiId}
    </select>
    
    <insert id="insertUser" parameterType="com.dev.sp.vo.UserVO" keyColumn="UI_NUM"
    keyProperty="uiNum" useGeneratedKeys="true">
        INSERT INTO USER_INFO(UI_ID, UI_PWD, UI_NAME, UI_IMG_NAME, 
            UI_IMG_PATH, UI_ZIP, UI_ADDRESS1, UI_ADDRESS2, UI_PHONE, UI_DESC)
        VALUES(#{uiId}, #{uiPwd}, #{uiName}, #{uiImgName}, 
            #{uiImgPath},#{uiZip}, #{uiAddress1}, #{uiAddress2}, #{uiPhone}, #{uiDesc})
    </insert>
    
    <update id="updateUser" parameterType="com.dev.sp.vo.UserVO">
        UPDATE USER_INFO
        SET UI_NAME=#{uiName},
            UI_IMG_NAME=#{uiImgName},
            UI_IMG_PATH=#{uiImgPath},
            UI_ADDRESS1=#{uiAddress1},
            UI_ADDRESS2=#{uiAddress2},
            UI_ZIP = #{uiZip},
            UI_PHONE=#{uiPhone},
            UI_DESC=#{uiDesc},
            LMODAT=DATE_FORMAT(NOW(),'%Y%m%d'),
            LMOTIM=DATE_FORMAT(NOW(),'%H%i%s')
        WHERE UI_NUM=#{uiNum}
    </update>
    
    <delete id="deleteUser">
        DELETE FROM USER_INFO WHERE UI_NUM=#{uiNum}
    </delete>
	
</mapper>